
.texan_nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.texan_nav__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.texan_nav__brand_links{
    background-color:var( --color-secondary-background);
    padding: var(--space-xxs);
    border-radius:var(--radius-card);
    text-transform: uppercase;
    font-size: var(--text-sm);
}
.texan_nav__brand_links a{
    text-align: center;
     padding: var(--space-xs);
     text-decoration: none;
     color:var(--neutral-900);
     font-weight: 500;
}
.texan_nav__brand_link_active{
    background-color: var(--color-base-background);

}

.texan_nav__brand_link{
    background-color: var(--color-base-background);
   
}


.texan_nav__actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texan_nav__actions ul{
    display: flex;
    justify-content: center;
    align-items: stretch;
}


.texan_nav__logo-block{
    width: 140px;
    height: auto;
}
