.texan_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-secondary-background);
}
.texan_nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-lg);
}

.texan_nav__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.texan_nav__actions ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.texan_nav__logo_block {
  width: 140px;
  height: auto;
}
.texan_nav__logo_block a {
  text-decoration: none;
  color: var(--neutral-900);
}

.texan_nav__actions_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.texan_nav__actions_list li {
  list-style-type: none;
}
.texan_nav__actions_list li a {
  text-decoration: none;
  font-size: var(--text-sm);
}

.texan_nav__profile_link svg {
  width: 24px;
  height: 24px;
}
.texan_nav__action_item,
.texan_nav__search_button,
.texan_nav__cart_button {
  border: none;
  background: transparent;
}

.texan_nav__main_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}
 .mobile_device_hamberger_item{
  display: none;
 }
.texan_nav__main_item {
  padding: 0 10px;
  list-style-type: none;
}
.texan_nav__main_link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--neutral-900);
  font-weight: 500;
}

/* footer css */









/* ============================
   RESPONSIVE DESIGN
   ============================ */
@media screen and (min-width: 768px) {
  .texan_nav {
    padding: var(--space-sm);
  }

  .texan_nav__top {
    padding: 0 0 0 10px;
  }
  /* .mobile_device_hamberger_item{
    display: flex;
  } */
  
}

